@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Montserrat', sans-serif;
}

/* From uiverse.io by @alexruix */
.input {
	width: 100%;
  height: 44px;
  background-color: #3d5a80;
  border-radius: .5rem;
	font-weight: bold;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.area {
	height: 100%;
  padding-top: 1rem
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
	font-weight: bold;
  outline: none;
  border-color: #ee6c4d;
}

.input-group:hover .label, .input:focus {
  color: #ee6c4d;
}